<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014 DevSuper</p>
        </div>
    </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/jquery.1.11.1.js" | prepend: site.baseurl }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/SmoothScroll.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.isotope.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/owl.carousel.js" | prepend: site.baseurl }}"></script>

<!-- Javascripts
================================================== -->
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
