<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014 DevSuper</p>
        </div>
    </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ "/js/jquery.1.11.1.js" | prepend: site.baseurl }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script type="text/javascript" src="{{ "/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/SmoothScroll.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.isotope.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/owl.carousel.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/doT/doT.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/moment/min/moment.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/imagesLoaded.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/masonry.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.socialfeed.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gallery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/gridscroll.js" | prepend: site.baseurl }}"></script>

<!-- Javascripts
================================================== -->
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

<script>
    $(document).ready(function(){
        $('.social-feed-container').socialfeed({
                    facebook:{
                        accounts: ['@lojacarmina'],
                        limit: 3,
                        access_token: '150849908413827|a20e87978f1ac491a0c4a721c961b68c' // APP_ID|APP_SECRET
                    },
                    length:400,
                    show_media:true,
                    moderation: function(content){
                        return  (content.text) ? content.text.indexOf('fuck') == -1 : true;
                    },
                    //update_period: 5000,
                    callback: function(){
                        //console.log('all posts are collected');
                    }
                });

        $('.maps').click(function () {
              $('.maps iframe').css("pointer-events", "auto");
        });
    });
</script>
